<%- include('partials/header') %>
<h1>All posts</h1>
<% posts.forEach(post=>{ %>
  <p>Title: <%= post.title %></p>
  <p>Author: <%= post.author %></p>
  <p>Published at: <%= post.publishDate.toLocaleDateString() %></p>
  <p>Star count: <%= post.starCount %></p>
  <a class='btn btn-primary' href='/users/<%= post.author %>'>View the author</a>
  <% if(post.content.length>100){ %>
    <p><%= post.content.slice(0,100) %>......</p>
  <% }else{ %>
    <p><%= post.content %></p>
  <% } %>
  <a class='btn btn-primary' href="/posts/<%= post._id %>">View details</a>
<% }) %>
<%- include('partials/footer') %>
