<%- include('partials/header') %>
<%- include('partials/footer') %>
<h1><%= user.username %>'s home page</h1>
<h3><%= user.username %>'s posts</h3>
<% user.posts.forEach(post=>{ %>
  <p>Title: <%= post.title %></p>
  <% if(post.content.length>100){ %>
    <p><%= post.content.slice(0,100) %>......</p>
  <% }else{ %>
    <p><%= post.content %></p>
  <% } %>
  <a class='btn btn-primary' href="/posts/<%= post._id %>">View details</a>
<% }) %>
